.drap-drop-container {
    background-color: #f2f2f8;
    border: none;
    width: 18%;
    margin: 4px;
    display: inline-block;
    vertical-align: top;
}

.drap-draggable {
    background-color: #fafafa;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: move;
    position: relative;
    display: block;
}

.drap-draggable > * {
    display: inline-block;
    overflow: hidden;
}