pop-up {
    background-color: #fafafa;
    border: solid 1px #646464;
    min-width: 35%;
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2203;
    margin: 0;
}

pop-up div{
    display: block;
    margin: 0;
    padding: 0;
}

pop-up #title {
    font-size: 24px;
    padding: 0;
    background-color: #caffca;
    color: #646464;
    width: 100%;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 0;
}

pop-up #message {
    font-size: 16px;
    padding: 16px;
    color: #646464;
}

pop-up #buttons {
    text-align: center;
}

pop-up #button {
    background-color: #e4e4e4;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 12px 24px;
    margin: 8px;
    display: inline-block;
}

pop-up #button:hover {
    background-color: #e8e8e8;
}

pop-up #button:active {
    background-color: #f4f4f4;
}