input {
    background-color: #fafafa;
    border: solid #646464 1px;
    border-radius: 4px;
    text-align: center;
    padding: 4px 4px;
    margin: 8px;
    font-size: 12px;
    display: inline-block;
}

textarea {
    background-color: #fafafa;
    border: solid #646464 1px;
    border-radius: 4px;
    text-align: center;
    padding: 4px 4px;
    margin: 8px;
    font-size: 12px;
    display: inline-block;
}

#containers {
    display: block;
    text-align: center;
}

#task-edit {
    padding: 16px;
    font-size: 16px;
    text-align: center;
}

#task-edit label {
    font-size: 18px;
    display: block;
}

#task-priority {
    text-align: right;
    margin: 0px;
}

#task-priority label {
    display: inline-block;
}

#task-title input {
    width: 100%;

}

#task-description textarea {
    width: 100%;
    height: 128px;

}

#task-priority input {

}