task {
    text-align: left;
}

task #title {
    padding-left: 16px;
    font-size: 16px;
    color: #000;
}

task #description {
    padding-left: 16px;
    font-size: 16px;
    color: #646464;
    word-wrap: break-word;  
}

task .priority#priority {
    height: 100%;
    width: 6px;
    left: 0px;
    top: 0px;
    position: absolute;
}

task .priority.low#priority {
    background-color: #caffca;
}

task .priority.normal#priority {
    background-color: #ffc799;
}

task .priority.high#priority {
    background-color: #ff9999;
}