task-container {
    min-height: 256px;
}

task-container #header {
    width: 20%;
    text-align: center;
    font-size: 24px;
    padding: 0;
    color: #646464;
    background-color: #fafafa;
    width: 100%;
    margin: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: inline-block;
}