.tool-bar {
    text-align: right;
    widows: 100%;
    display: block;
}

.tool-bar .tool-button {
    background-color: #e4e4e4;
    border: none;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center;
    width: 64px;
    height: 64px;
    padding: 0;
    border-radius: 100%;
    display: inline-block;
}

.tool-bar .tool-button:hover {
    background-color: #e8e8e8;
}

.tool-bar .tool-button:active {
    background-color: #f4f4f4;
}

/*----------------[Add]----------------*/


.tool-bar .tool-button#add-task-button {
    background-image: url("../images/plus.png");
    background-color: #2ecc71;
}

.tool-bar .tool-button#add-task-button:hover {
    background-color: #50d98b;
}

.tool-bar .tool-button#add-task-button:active {
    background-color: #75e8a7;
}

/*----------------[Edit]----------------*/

.tool-bar .tool-button#edit-task-button {
    background-image: url("../images/pen.png");
    background-color: #6ac7ff;
}

.tool-bar .tool-button#edit-task-button:hover {
    background-color: #86d1ff;
}

.tool-bar .tool-button#edit-task-button:active {
    background-color: #a2dcff;
}

/*----------------[Delete]----------------*/

.tool-bar .tool-button#delete-task-button {
    background-image: url("../images/trash.png");
    background-color: #ff7371;
}

.tool-bar .tool-button#delete-task-button:hover {
    background-color: #ff8886;
}

.tool-bar .tool-button#delete-task-button:active {
    background-color: #ffaba9;
}

/*----------------[Sort]----------------*/

.tool-bar .tool-button#sort-tasks-button {
    background-image: url("../images/sort.png");
    background-color: #999999;
}

.tool-bar .tool-button#sort-tasks-button:hover {
    background-color: #a8a8a8;
}

.tool-bar .tool-button#sort-tasks-button:active {
    background-color: #b8b8b8;
}